<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" [routerLink]="['/inicio']">
    <img
      src="assets/images/the-game-awards-2018.jpg"
      alt="Logo"
      width="30"
      height="24"
      class="d-inline-block align-text-top"
    />
    GOTY
  </a>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/inicio']"
            routerLinkActive="router-link-active"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/goty']"
            routerLinkActive="router-link-active"
            >Votar</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
